
// style config
$color0     : black
$color1     : rgba(black, .5)
$color2     : gray
$color3     : white
$bigFont    : 50px
$middleFont : 45px
$smallFont  : 14px
$glPadding  : 20px

// init style for browsers
html
	width  : 100%
	height : 100%
	*
		border     : 0px red solid
		box-sizing : border-box
		border-collapse : collapse
	body
		margin : 0
		width  : 100%
		height : 100%
		background-image      : url('./bg.jpeg')
		background-size       : cover
		background-position   : center
		background-attachment : fixed
		-webkit-user-select   : none

// custom styles
body
	overflow: hidden
	background-color : $color3
	font-family      : 'theinhardt'
	white-space: nowrap
	font-size: 0px

#logo
	position : fixed
	width    : 100%
	height   : 60%
	left     : 0
	top      : 0
	background-image    : url('./logo.png')
	background-position : top right
	background-size     : contain
	background-repeat   : no-repeat

.screen
	position       : relative
	display        : inline-block
	width          : 100%
	height         : 100%
	white-space    : normal
	vertical-align : top
	font-size      : $bigFont
	// animation: horizontalScroll 20s infinite ease-in-out
	.header
		font-size: 60px
		font-weight: bold
		text-align: left
		padding: $glPadding * 2
		height: $glPadding * 6
	.list
		height: -webkit-calc(100% - #{$glPadding * 6})
		padding: $glPadding
		overflow: hidden
		.event
			height: -webkit-calc(25% - #{.75 * $glPadding})
			margin-bottom: $glPadding
			padding: $glPadding * 2
			box-shadow: 0 $glPadding/2 $glPadding rgba(black, .3)
			.title
				font-size: $bigFont
				font-weight: bold
				text-transform: uppercase
			.time
				font-size: $middleFont
				color: $color1
			.room
				font-size: $middleFont
				color: $color1
			.info
				font-size: $middleFont
				color: darkred
				text-transform: uppercase
		.event:last-child
			margin-bottom: 0px

		.globalInfo
			height: -webkit-calc(25% - #{.75 * $glPadding})
			margin-bottom: $glPadding
			padding: $glPadding * 2
			box-shadow: 0 $glPadding/2 $glPadding rgba(black, .3)
			.title
				font-size: $bigFont
				font-weight: bold
				text-transform: uppercase
			.text
				font-size: $middleFont
				color: $color1

	&.current
		display: run-in
	&.upcoming
		display: run-in
	&.global
		display: run-in
	&.graphic
		display: run-in


.grey
	background-color : rgba(#696969, .7) !important
.pink
	background-color : rgba(#DC75AE, .7) !important
.green
	background-color : rgba(#94CFA0, .7) !important
.blue
	background-color : #98D7DF !important
.orange
	background-color : #F49E59 !important
.yellow
	background-color : #E9E15A !important
.purple
	background-color : #8885BF !important
